<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027826924373-foomiud0bnaelrene75ioook87g26etu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027826924373-foomiud0bnaelrene75ioook87g26etu</string>
	<key>API_KEY</key>
	<string>AIzaSyDBTYpRDa0ztbHVAd7HMYgg_3yNPnY9MTs</string>
	<key>GCM_SENDER_ID</key>
	<string>1027826924373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lfgApp</string>
	<key>PROJECT_ID</key>
	<string>lfg-app-95b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>lfg-app-95b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027826924373:ios:960d0e5d2f776f22e00ddc</string>
	<key>DATABASE_URL</key>
	<string>https://lfg-app-95b6c.firebaseio.com</string>
</dict>
</plist>